:root{
  --main-background-color: rgb(191, 57, 57);
  --secundary-background-color: rgb(229, 107, 107);
  --main-text-color: rgb(255, 255, 255);
  --secundary-text-color: black;
  --buttons-color: rgb(224, 141, 41);
  --moves-background: aliceblue;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: 'Pixelify Sans', sans-serif;

}

#root {
  background-color: var(--main-background-color);
}

#Pokemons-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  background-color: var(--secundary-background-color);
  padding: 3%;
  margin: 5%;
  border-radius: 1rem;
}

#pokemons-card{
  background-color: var(--main-background-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3%;
  border-radius: 0.2rem;
}

#pokemons-card img {
  max-height: 70px;
}

#pokemons-card button{
  background-color:  var(--buttons-color);
  color: var(--secundary-text-color);
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 0.5rem;
}

#moves-title {
  text-transform: uppercase;
  color: var(--secundary-text-color);
  text-align: center;
}

#moves-container{
  position: absolute;
  background-color: var(--moves-background);
  padding: 3%;
  border: 5px solid;
  border-color: var(--secundary-text-color);
}

#moves-container li {
  color: var(--secundary-text-color);
  list-style:  upper-roman;
}

#info-container{
  background-color: var(--secundary-background-color);
  padding: 3% 25% 3% 3%;
  border-radius: 0.2rem;
}